html
  include includes/head.pug

  nav
    ul
      each gazebo in gazebos
        a(href=gazebo)
          if gazebo == title
            li(class='red')= gazebo
          else
            li= gazebo
    
      main

        each image in images
          figure(tabindex=0)
            img(src=image.path)
            figcaption= image.name