html
  include includes/head.pug

  body
    h1= title

    nav
      ul
        each gazebo in gazebos
          a(href=gazebo)
            li= gazebo
      
        main

          each image in images
            figure(tabindex=0)
              img(src=image.path)
              figcaption= image.name